---
import PageLayout from "@/layouts/404";
import { Image } from "astro:assets";
import notFound from "../assets/404.jpg";
import asci from "../assets/ascii-art.png";
import HomeIcon from '@/components/svgs/HomeIcon';
import UpArrow from "@/components/svgs/UpArrow";

const meta = {
	description: "Ah shoot, looks like you got lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<div class="mt-24 flex flex-col items-center">
		<h1 class="title mb-12">Ah shoot, looks like you got lost in ocean!</h1>
		<p class="mb-8">Don't worry, let me help you get
			<span class="home-arrow-wrap">
				<UpArrow class="home-arrow home-arrow--bottom" />
				<UpArrow class="home-arrow home-arrow--right" />
				<UpArrow class="home-arrow home-arrow--top" />
				<UpArrow class="home-arrow home-arrow--left" />

				<a href="/" class="handdrawn-btn inline-flex items-center gap-1">
					home
					<HomeIcon class="inline-block h-4 w-4 align-middle"/>
				</a>
			</span>
		</p>
	</div>
	<div class="flex justify-center ">
      <Image
        src={notFound}
        alt="404"
        loading="eager"
        class="animate-fade-in"
      />
    </div>
</PageLayout>
