---
import PageLayout from "@/layouts/Base";

const meta = {
	description: "Ah shoot, looks like you got lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Ah shoot, looks like you got lost in space!</h1>
	<p class="mb-8">Don't worry, let me help you get home.</p>
</PageLayout>
