---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "../assets/pfp.jpg";

const meta = {
	title: "About",
	description: "More about Babuaravind Gururaj",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>
      Hey there! I am Babu and I’m a DevEx Engineer with a love for developer tooling that reduces repetition and simplifies development.
      I’m currently working at
      <a
        class="style-link inline-block"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Uniswap Foundation"
        href="https://uniswapfoundation.org"
      >
        Uniswap Foundation</a
      >
      as a DevRel, where I work on anything from writing documentation, building
      developer tools, to writing blog posts, and filming videos. 
    </p>
    <p>
      I have a dream to build systems that empower people to build their own tools and also a sustainable forest one day.
    </p>
    <div class="flex justify-center">
      <Image
        src={aboutImg}
        alt="Babuaravind pfp"
        loading="eager"
        class="animate-fade-in"
      />
    </div>
    <p>Here's a little more info about me:</p>
    <ul class="list-inside list-disc">
      <li>Currently in Boston MA</li>
      <li>
        Favorite pastimes include exploring coffee shops, supporting Arsenal and walking a lot.
      </li>
      <li>I have a thing for making desserts and am surprisingly decent at it. </li>
	  <li>Oh and I am open to opportunities!</li>
    </ul>
    <p>
      Feel free to
      <a
        class="style-link inline-block"
        href="mailto:babuaravindgururaj@gmail.com"
        aria-label="github repository"
      >
        reach out
	</a>!
    </p>
  </div>
</PageLayout>
