---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import MCP from "../assets/Blog/mcp.png";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const visiblePosts = allPosts.filter((post) => !post.data.hidden);
const allPostsByDate = sortMDByDate(visiblePosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Babuaravind Gururaj" }}>
	<section>
		<h1 class="title pb-6">Hey there!</h1>
		<p class="mb-4">
			I'm Babuaravind (Babu), a Software Engineer with a passion for customer success and developer tooling
			that saves time and broken keyboards. I'm currently doing Developer Relations at
			<a
				href="https://www.uniswapfoundation.org/"
				target="_blank"
				rel="noopener noreferrer"
				class="style-link"
				> Uniswap Foundation</a> and consuming whitepapers along the way.
		</p>
		<SocialList />
	</section>
	<section class="mt-8 -ml-5 flex justify-left">
		<a href="https://linkedin.com/in/babuaravind-gururaj" target="_blank" rel="noopener noreferrer" class="handdrawn-btn ml-5 text-base bg-[#D0F0C5] dark:bg-[#235140]">
			Open to new opportunities in the USA!
		</a>
	</section>
	<section class="mt-12">
		<h2 class="title mb-4 text-xl">Awards</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<span class="underline">Lux Veritas Virtus</span>:
				<p class="inline-block sm:mt-2">Top 75 graduating Masters students at Northeastern University</p>
			</li>
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-12">
		<h2 class="title mb-2 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-12">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://github.com/aravind33b/Uniswap_Docs_MCP"
					target="_blank"
					rel="noopener noreferrer"
					class="style-link inline-block"
					>
					Uniswap Docs MCP
				</a>:
				<p class="inline-block sm:mt-2">An Uniswap docs MCP server, for LLM based coding</p>
			</li>
			<li>
				<a
					href="https://www.github.com/aravind33b/UniCowV2"
					target="_blank"
					rel="noopener noreferrer"
					class="style-link inline-block"
					>UniCowV2
				</a>:
				<p class="inline-block sm:mt-2">Coincidence of Wants based swap matching as a Uniswap v4 Hook</p>
			</li>
		</ul>
	</section>
</PageLayout>
